Dokumentation/Dokumentation.aux
Dokumentation/Dokumentation.bbl
Dokumentation/Dokumentation.blg
Dokumentation/Dokumentation.lof
Dokumentation/Dokumentation.log
Dokumentation/Dokumentation.lot
Dokumentation/Dokumentation.out
Dokumentation/Dokumentation.pdf
Dokumentation/Dokumentation.run.xml
Dokumentation/Dokumentation.toc
Dokumentation/Dokumentation.tps
Dokumentation/Dokumentation-blx.bib
Dokumentation/Dokumentation.synctex.gz
Dokumentation/header_footer.aux
*.pro.user*
Source/build-*
Thumbs.db
Source/LibOrgInstaller/packages/Hauptprogramm/data/*
*.exe