#! Konfigurationen
# Login-Einstellungen
[Login]
# Name des letzten eingelogten Benutzers
LastUser: string = Welcome
(30)


# Allgemeine Einstellungen
[Einstellungen]
# Hintergrundfarbe - hell
Background-Light: rgbcolor = 240,253,253

# Hintergrundfarbe - dunkel
Background-Dark: rgbcolor = 177,216,228 

# Boolscher Schlüssel
Var2: bool = 1

# integer
var3: int = 5
(1;5)

# Text mit Vorauswahl
Var4: chosestring = H1
<H1; H2; H3>

# Text mit Vorauswahl und Eingabemöglichkeit
Var5: choseentrystring = H1
<H1; H2; H3>

# Gleitzahl read-only
{Var6: double = 6.3}