#! Konfigurationen
# Login-Einstellungen
[Login]
# Name des letzten eingelogten Benutzers
LastUser: string = Welcome
(30)


# Allgemeine Einstellungen
[Einstellungen]
# Hintergrundfarbe - hell
Background-Light: rgbcolor = 240,253,253

# Hintergrundfarbe - dunkel
Background-Dark: rgbcolor = 177,216,228 

# Backup Einstellungen
[Backup]
# Backup beim Programmstart erstellen
BackupOnStartup: bool = 1

# Backup vor dem Schließen des Programmes erstellen
BackupOnSystemEnd: bool = 1

# Zuordnung der Fächer zu Abkürzungen
[Fächer]
# Abkürzung d
d: string = Deutsch

#Abkürzung e
e: string = Englisch

#Abkürzung ku
ku: string = Kunst

# Abkürzung f
f: string = Französisch

# Abkürzung sp
sp: string = Spanisch

# Abkürzung mu
mu: string = Musik

# Abkürzung sps
sps: string = ?

# Abkürzung eko
eko: string = ?

# Abkürzung g
g: string = Geschichte

# Abkürzung tü
tü: string = ?

# Abkürzung sk
sk: string = Sozialkunde

# Abkürzung geo
geo: string = Geographie

# Abkürzung wr
wr: string = Wirtschaft und Recht

# Abkürzung eth
eth: string = Ethik

# Abkürzung psy
psy: string = Psychologie

# Abkürzung m
m: string = Mathe

# Abkürzung aae
aae: string = ?

# Abkürzung b
b: string = Biologie

# Abkürzung ph
ph: string = Physik

# Abkürzung c
c: string = Chemie

# Abkürzung spo
spo: string = Sport

# Abkürzung s-t
s-t: string = ?

# Abkürzung k
k: string = ?
