#! Beispiel-Konfig
# Erster Block
[Erster Block]
# Ganzzahliger Schlüssel mit Minimum und Maximum
Var1: int = 5
(1;5)

# Boolscher Schlüssel
Var2: bool = true

# Text mit Länge 5
Var3: string = Hallo
(5)

# Text mit Vorauswahl
Var4: chosestring = H1
<H1; H2; H3>

# Text mit Vorauswahl und Eingabemöglichkeit
Var5: choseentrystring = H1
<H1; H2; H3>

# Gleitzahl read-only
{Var6: double = 6.3}